/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

$base-radius: 0.5rem;
$font-family-base: 'Source Sans Pro', 'Noto Sans KR', 'Apple SD Gothic Neo',
  'Malgun Gothic', sans-serif;
$font-family-heading: Lato, 'Noto Sans KR', 'Apple SD Gothic Neo',
  'Malgun Gothic', sans-serif;
